.conteiner {
  max-width: 1366px;
  width: 100%;
  height: 1559px;
  margin: 0 auto;
  position: relative;
}

/*                                           პირველი სექცია */

/* Background image-ის შემოტანის გამო გაეწერა სიმაღლის პარამეტრიც. z-index-ებით გაინომრა background image, ბლარი და ტექსტი. ამის გარეშე ტექსტიც იბლარეოდა.*/
.section1 {
  width: 100%;
  height: 662px;
  position: absolute;
  background-image: url("../Images/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

/* ბლარის Div: პირველი სექციის სიმაღლე და სიგანე აქვს, ზუსტად რომ გადაედოს */
.Sect_rgb {
  width: 100%;
  height: 100%;
  background-color:rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  z-index: 2;
}

/* სექციის I დივი */
.sect1_div_full_text {
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Poppins';
  position: absolute;
  top: 0;
  z-index: 3;
}

/* ჰედერი */
.sect1Header {
  padding: 20px 150px 50px 140px;
}

/* ლოგოს ტექსტი */
.headLogo {
  float: left;
  font-size: 15px;
  font-weight: bold;
}

/* ნავიაცია */
nav {
  float: right;
}

/* ნავიაცია */
li {
  display: inline;
  margin-left: 40px;
  font-size: 15px;
  font-weight: bold;
}

/* I სექციის ტექსტი */
.sect1Middle {
  width: 550px;
  height: 400px;
  padding-left: 140px;
  padding-top: 100px;
}

.sec1Title {
  font-size: 65px;
  font-weight: bold;
}

.sec1P {
  padding-top: 20px;
  width: 353px;
  font-size: 15px;
  line-height: 20px;
}

.sect1H3 {
  font-size: 20px;
  font-weight: bold;
  padding-top: 100px;
}

/* I სექციის ისრები */
.sect1bott {
  float: right;
  padding-right: 150px;
}

.LEFTicon {
  padding: 17px;
  background-color: white;
  border: none;
}

.RIGHTicon {
  padding: 17px;
  background-color:#5863f8;
  border: none;
}

/*                                           მეორე სექცია */

.section2 {
  width: 100%;
  position: relative;
  top: 662px;
  background-color: white;
  font-family: 'Poppins';
}

/* II სექციის ტექსტის დივი */
.sect2Div1 {
  width: 50%;
  padding-top: 50px;
  float: left;
}

.sec2H1 {
  font-size: 42px;
  width: 353px;
  height: 87px;
  padding-bottom: 25px;
  padding-left: 100px;
}

.sect2P1 {
  padding-bottom: 15px;
  width: 445px;
  font-size: 16px;
  line-height: 20px;
  padding-left: 100px;
}

.sect2butt {
  width: 184px;
  height: 50px;
  background-color: #5863f8;
  border: none;
  color: white;
  font-size: 15px;
  font-family: 'Poppins';
  margin-top: 25px;
  margin-left: 100px;
}

/* II სექციის ფოტოების დივი */
.sect2Div2 {
  width: 50%;
  float: right;
  text-align: center;
  padding-top: 50px;
}



/*                                            Footer */
.footer_Box {
  width: 1366px;
  height: 220px;
  position: fixed;
  bottom: 0;
  background-color: black;
}

.fotter_full_div {
  width: 80%;
  margin: 30px;
}

.footerH3 {
  color: white;
  font-family: 'Poppins';
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footP {
  color: white;
  font-family: 'Poppins';
  font-size: 15px;
}

.footIcons {
  margin: 40px 0 5px 0;
}